<!DOCTYPE html>
<html lang="en">

    <header>
        <h4 style="color: white;">Todo App with Python Flask, SqlAlchemy ORM and Bootstrap</h4>
    </header>
    <head >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Todo App</title>
    </head>
    
    <body style="background-image: url('static/images/road.jpg'); background-size:cover;">

        <div  style = "margin-Top:150px;" class="container">
            <h3 style="color: white;">Todo List</h3>
            <hr>

            <form action="/add" method="POST">

                    <div class="form-group">
                    <label style="color: white;" for="formGroupExampleInput">Başlık (Title)</label>
                    <input type="text" name="title" class="form-control" id="formGroupExampleInput" placeholder="Başlığı Giriniz (Please Write the Title)">
                    </div>

                    <div class="form-group">
                    <label style="color: white;" for="formGroupExampleInput2">İçerik (Content)</label>
                    <textarea type="text" name= "content" class="form-control" id="formGroupExampleInput2" placeholder="İçeriği Giriniz (Please Write the Content)"></textarea>
                    </div>

                    <button class="btn btn-primary" type="submit">Ekle (Add)</button>
                
            </form><br>

            {% if todos == [] %}
                <div class ="alert alert-primary" role="alert">
                    Listenizde herhangi bir şey yok (You don't have anything in your list yet)
                </div>
            {% else %}
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Başlık (Title)</th>
                    <th scope="col">İçerik (Content)</th>
                    <th scope="col">Durum (Status)</th>
                    <th scope="col">Güncelle (Update)</th>
                    <th scope="col">Sil (Delete)</th>
                </tr>
                </thead>
                <tbody>
                {% for todo in todos %}
                    <tr>
                    <th scope="row">{{todo.id}}</th>
                    <td><a href="/detail/{{todo.id}}">{{todo.title}}</a></td>
                    <td>{{todo.content}}</td>
                    {% if todo.complete == False %}
                        <td>Tamamlanmadı (Not Complete)</td>
                    {% else %}
                        <td>Tamamlandı (Complete)</td>
                    {% endif %}
                    <td ><a href="/complete/{{todo.id}}" class ="btn btn-primary">Tamamla (Complete)</a></td>
                    <td ><a href="/delete/{{todo.id}}" class ="btn btn-primary">Sil (Delete)</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% endif %}       

        </div>

    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

</html>
